backend/logs/app.log
backend/pyproject.toml
backend/chroma_db/.docs_hash
backend/chroma_db/chroma.sqlite3
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/data_level0.bin
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/header.bin
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/length.bin
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/link_lists.bin
backend/pyproject.toml
backend/uv.lock
backend/pyproject.toml


.env

backend/logs/app.log
backend/chroma_db/.docs_hash
backend/chroma_db/chroma.sqlite3
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/data_level0.bin
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/header.bin
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/length.bin
backend/chroma_db/a64be229-70cf-4ccf-8285-9c0243e5d280/link_lists.bin
uv.lock
pyproject.toml
backend/pyproject.toml
backend/uv.lock
